@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --rice: hsl(64, 100%, 97%);
  --shadow-rice: hsla(63, 70%, 94%, 0.5);
  --leaf: hsl(67, 48%, 77%);
  --shadow-leaf: hsla(67, 38%, 50%, 1);
  /* hsla(67, 47%, 82%, 1.00) */
  /* --leaf: hsla(148, 30%, 84%, 1); */
  --light-leaf: hsl(63, 100%, 96%);
  --dark-leaf: hsl(72, 38%, 88%);
  --forest: hsla(180, 70%, 33%, 1);
  --japan: hsl(13, 75%, 62%);
  --dark-japan: hsl(13, 80%, 55%);
  --slate: hsl(201, 20%, 20%);
  --light-slate: hsl(200, 14%, 61%);
  --font-serif: "Source Serif Pro", serif;
  --font-sans: "Inter", sans-serif;
  --font-sm: clamp(0.8rem, 2.5vw, 0.85rem);
  --font-base: clamp(0.9rem, 2.5vw, 0.95rem);
  --font-md: clamp(1rem, 2.5vw, 1.15rem);
  --font-lg: clamp(1.95rem, 2.5vw, 2.25rem);
}

a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--leaf);
}
